@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #root {
    min-height: 100dvh;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #eeeeee;
    }

    html, body, #root {
        background-color: #292b2f;
    }

    @layer components {
        /* https://stackoverflow.com/questions/63212723/using-dark-mode-in-react-select */
        /* .my-react-select-container {
        } */
        .my-react-select-container .my-react-select__control {
            @apply bg-white dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
        }

        .my-react-select-container .my-react-select__control--is-focused {
            @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
        }

        .my-react-select-container .my-react-select__menu {
            @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
        }

        .my-react-select-container .my-react-select__option {
            @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
        }

        /* .my-react-select-container .my-react-select__option--is-focused {
          @apply bg-neutral-200 dark:bg-neutral-800;
        } */
        .my-react-select-container .my-react-select__indicator-separator {
            @apply bg-neutral-400;
        }

        .my-react-select-container .my-react-select__input-container,
        .my-react-select-container .my-react-select__placeholder,
        .my-react-select-container .my-react-select__single-value {
            @apply text-neutral-600 dark:text-neutral-200;
        }
    }

}

.btn-primary {
    @apply bg-primary hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded
}

.btn-secondary {
    @apply bg-secondary hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded
}

.btn-danger {
    @apply bg-danger hover:bg-red-800 text-white font-bold py-2 px-4 border border-red-700 rounded
}