@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #root {
    min-height: 100dvh;
}

.btn-primary {
    @apply bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded
}